.flex{
    align-items:center;
    display: flex;
}
.userNameRating{
    margin:.2rem 0 0 .5rem;
}
.inputWrapper{
    position: relative;
    margin:.5rem 0 1rem 0 ;
    width: 100%;
  }
  
.close{
    position: absolute;
    right: 2%;
    top: 4%;
}
.inputFile{
  left: 0;
  opacity: 0;
  position: absolute;
}
.uploadImgIconsWrapper{
  align-items: flex-end;
  bottom: 1rem;
  display:flex;
  justify-content: space-between;
  padding:0 .8rem;
  position: absolute;
  top: 0;
  width:100%;
  z-index: 1;
}
