.avatar{
    position: relative;
    margin: 0 auto;
}
.avatar::before{
    border:10px solid #19bd33;
    border-radius: 50%;
    content: "";
     padding: 10px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}