.inputContainer{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.inputContainer div{
    width:45%;
    margin-left:.2rem
}
.inputTel{
    padding:.8rem 1rem;
}
.inputTel:hover,.inputTel:focus{
    outline-color:#33BD99;
}
